.reward-road {
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  max-width: 1200px;
  /* position: relative; */
  color: white;
}

.road1 {
  /* z-index: 2; */
  position: relative;
  left: -122px;
  top: 130px;
}

.road2 {
  position: relative;
  left: 240px;
  top: -40px;
}

svg:not(:root) {
  overflow: hidden;
}
